@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
.lockup {
  max-width: 90ch;
  margin: 0 auto;
}
.lockup-small {
  max-width: 180ch;
  margin: 0 auto;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
